@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../resources/fonts/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  src: local("Segoe UI Bold"), url("../resources/fonts/Segoe UI Bold.woff") format("woff");
}
* {
  line-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-size: 1em;
}
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cool-button {
  color: white;
  background-color: #0066b8;
}
.cool-button:hover {
  background-color: #005ba4;
}

.generic-link {
  color: #0098ff;
}
.generic-link:hover {
  text-decoration: underline;
}

.cool-link {
  color: white;
}
.cool-link:hover {
  color: rgb(180, 160, 255);
}

.download-button {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "icon top-span" "bottom-span bottom-span";
  row-gap: 8px;
}

.download-button__icon {
  grid-area: icon;
  width: 16px;
}

.download-button__top-span {
  grid-area: top-span;
  font-size: 16px;
  font-weight: bold;
}

.download-button__bottom-span {
  grid-area: bottom-span;
  font-size: 11px;
}

.the-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #2c2c32;
  box-shadow: 0px -10px 26px 0px rgb(17, 17, 17);
}

.the-header-content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: 50px auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 50px;
  overflow: hidden;
  transition: height 300ms;
}

.the-header__logo-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 12px;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  margin-left: 15px;
}

.the-header__logo {
  height: 24px;
}

.the-header__logo-name {
  font-size: 20px;
  color: white;
}

.the-header__nav {
  grid-column: 1/3;
  grid-row: 2;
  height: 340px;
  overflow: auto;
}

.the-header__nav-list {
  display: grid;
  row-gap: 24px;
  padding: 16px 0 0;
}

.the-header__nav-list-desktop-free-space {
  display: none;
}

.the-header__nav-list-link {
  padding-left: 12px;
  color: white;
}

.the-header__nav-search-desktop-content-container {
  display: none;
}

.the-header__nav-download-button {
  padding: 16px 0 16px 12px;
  justify-content: start;
  gap: 0 4px;
}

.the-header__menu-button {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 5px;
  grid-column: 2;
  grid-row: 1;
  margin-right: 15px;
  width: 42px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
}
.the-header__menu-button:hover {
  background-color: #0066b8;
}

.the-header__menu-button-icon-part {
  width: 22px;
  height: 2px;
  background-color: white;
}

@media (min-width: 980px) {
  .the-header__logo-container,
.the-header__nav,
.the-header__menu-button {
    grid-column: auto;
    grid-row: auto;
  }
  .the-header__menu-button {
    display: none;
  }
  .the-header-content {
    grid-template-columns: max-content 1fr;
    justify-content: start;
  }
  .the-header__nav {
    height: auto;
  }
  .the-header__nav-list {
    padding: 0 15px;
    grid-template-columns: repeat(7, auto) 1fr repeat(2, auto);
    align-items: center;
    column-gap: 15px;
  }
  .the-header__nav-list-desktop-free-space {
    display: list-item;
  }
  .the-header__nav-list-link {
    opacity: 0.6;
    transition: opacity 50ms;
  }
  .the-header__nav-list-link:hover {
    opacity: 1;
  }
  .the-header__nav-search-mobile-content {
    display: none;
  }
  .the-header__nav-search-desktop-content-container {
    display: block;
  }
  .the-header__nav-search-image {
    width: 16px;
    height: 16px;
  }
  .the-header__nav-search-input {
    display: none;
  }
  .the-header__nav-download-button {
    opacity: 1;
    padding: 16px 12px;
  }
}
@media (min-width: 1190px) {
  .the-header__nav-search-desktop-content-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    position: relative;
    left: 15px;
  }
  .the-header__nav-search-image {
    position: relative;
    left: 28px;
  }
  .the-header__nav-search-input {
    display: block;
    width: 183px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 14px;
    color: white;
    padding: 0 16px 0 40px;
  }
  .the-header__nav-search-input:hover {
    background-color: rgba(255, 255, 255, 0.18);
  }
  .the-header__nav-search-input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -1px;
  }
}
.news-on-top {
  text-align: center;
  padding: 12px 32px;
  line-height: 150%;
  background-color: #25252b;
  color: #ccc;
}

.first-article {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 24px 32px;
  background-color: #2c2c32;
  text-align: center;
}

.first-article__header {
  margin: 0;
  font-size: 42.5px;
  color: white;
  line-height: 120%;
}

.first-article__header-span {
  display: block;
  font-weight: normal;
}

.first-article__div-under-header {
  margin: 16px 0 26px;
  font-size: 15.3px;
  color: rgba(255, 255, 255, 0.6);
}

.first-article__buttons-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  column-gap: 2px;
}

.first-article__download-button {
  width: 125px;
  height: 60px;
}
.first-article__download-button > .download-button__icon {
  position: relative;
  left: 5px;
}
.first-article__download-button > .download-button__top-span {
  position: relative;
  left: -5px;
}

.first-article__show-more-button {
  width: 46px;
  height: 60px;
}

.first-article__show-more-icon {
  width: 16px;
}

.first-article__buttons-prompt {
  position: relative;
  margin-top: 12px;
  padding: 12px 42px;
  font-size: 12.6px;
  background-color: #25252b;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.first-article__buttons-prompt::before {
  position: absolute;
  top: -16px;
  right: 17px;
  content: "";
  border: 8px solid;
  border-color: transparent transparent #25252b transparent;
}

.first-article__agreement {
  margin: 16px 0;
  font-size: 12px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.6);
}

.first-article__image {
  max-width: 90vw;
}

/******************** MEDIA QUERIES *********************/
@media (min-width: 1040px) {
  .first-article {
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
  }
  .first-article__header {
    margin-top: 38px;
  }
}
.features-container {
  background-color: white;
}

.features-container__list {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 122px;
  max-width: 1200px;
  padding: 0 15px;
}

.features-container__link {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.features-container__link:hover {
  background-color: #e3e3e3;
}
.features-container__link:hover .features-container__image-1 {
  top: -53px;
  clip-path: polygon(0 52px, 51.5px 52px, 51.5px 104px, 0 104px);
}
.features-container__link:hover .features-container__image-2 {
  top: -53px;
  clip-path: polygon(51.5px 52px, 103px 52px, 103px 104px, 0 104px);
}
.features-container__link:hover .features-container__image-3 {
  top: -53px;
  clip-path: polygon(103px 52px, 154.5px 52px, 154.5px 104px, 0 104px);
}
.features-container__link:hover .features-container__image-4 {
  top: -53px;
  clip-path: polygon(154.5px 52px, 206px 52px, 206px 104px, 0 104px);
}

.features-container__image-container {
  position: relative;
  top: 5px;
  width: 51.5px;
  height: 52px;
  overflow: hidden;
}

.features-container__image {
  position: relative;
}

.features-container__image-1 {
  clip-path: polygon(0 0, 51.5px 0, 51.5px 52px, 0 52px);
}

.features-container__image-2 {
  clip-path: polygon(51.5px 0, 103px 0, 103px 52px, 51.5px 52px);
  left: -51.5px;
}

.features-container__image-3 {
  clip-path: polygon(103px 0, 154.5px 0, 154.5px 52px, 103px 52px);
  left: -103px;
}

.features-container__image-4 {
  clip-path: polygon(154.5px 0, 206px 0, 206px 52px, 154.5px 52px);
  left: -154.5px;
}

.features-container__span {
  position: relative;
  top: -5px;
  font-size: 17px;
  color: #444;
}

/******************** MEDIA QUERIES *********************/
@media (min-width: 760px) {
  .features-container__list {
    grid-template-columns: repeat(4, 25%);
  }
}
.user-reviews {
  background-color: #f5f5f5;
  padding: 64px 32px;
}

.user-reviews-content {
  display: grid;
  grid-template-columns: max-content auto max-content;
  max-width: 1200px;
  margin: auto;
}

.user-reviews-content-content {
  display: grid;
  row-gap: 32px;
}

.user-reviews__button {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.4);
  background-color: inherit;
  font-weight: bold;
}
.user-reviews__button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.user-review {
  display: grid;
  grid-template-areas: "image names" "image text";
  gap: 8px 12px;
  justify-content: center;
  position: relative;
  padding: 0 16px;
}

.user-review__twitter-icon-image {
  width: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.user-review__image-container {
  grid-area: image;
}

.user-review__image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.user-review__name-and-profilename {
  grid-area: names;
}

.user-review__name {
  margin: 0;
  font-size: 12.6px;
  color: #000;
}

.user-review__profilename {
  font-size: 10.8px;
  color: #6e6e6e;
}

.user-review__text {
  grid-area: text;
  margin: 0;
  max-width: 700px;
  line-height: 120%;
  color: #6e6e6e;
}

@media (min-width: 980px) {
  .user-reviews-content-content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
  }
}
.template-article {
  padding: 64px 32px;
  background-color: #fff;
}
.template-article:nth-of-type(even) {
  background-color: #f5f5f5;
}

.template-article-content {
  display: grid;
  justify-items: center;
  max-width: 1200px;
  margin: auto;
}

.template-article__text-container {
  color: #444;
  grid-row: 2;
}

.template-article__header {
  margin: 0;
  font-size: 20px;
}

.template-article__paragraph {
  margin-bottom: 0;
  line-height: 150%;
}

.template-article__image {
  grid-row: 1;
  max-width: 90%;
}

.template-article__special-image {
  margin-bottom: 38px;
  max-width: min(80vw, 360px);
}

@media (min-width: 760px) {
  .template-article:nth-of-type(odd) .template-article__image {
    order: -1;
  }
  .template-article-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 32px;
  }
  .template-article__text-container {
    grid-row: auto;
  }
  .template-article__header {
    font-size: 30px;
  }
  .template-article__paragraph {
    font-size: 18px;
  }
  .template-article__image {
    grid-row: auto;
  }
}
.languages-article {
  background-color: #f5f5f5;
}

.languages-article-content {
  margin: auto;
  padding: 64px 32px;
  max-width: 1200px;
  color: #444;
  text-align: center;
}

.languages-article__header {
  margin: 0 0 42px;
  font-size: 30px;
  font-weight: normal;
}

.languages-article__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
  gap: 20px 80px;
  margin-bottom: 26px;
  font-size: 18px;
  text-align: left;
}

.languages-article__list-item {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.languages-article__get-started-link {
  display: block;
  margin: 48px auto 0;
  padding: 16px 32px;
  width: max-content;
  font-size: 20px;
}

.platform-downloads {
  background-color: #fff;
}

.platform-downloads-content {
  display: grid;
  row-gap: 64px;
  align-items: start;
  max-width: 1200px;
  margin: auto;
  padding: 32px;
}

.platform-downloads-platform {
  display: grid;
  justify-items: center;
  row-gap: 20px;
}

.platform__image {
  height: 100px;
}

.platform__buttons-container {
  display: flex;
  column-gap: 3px;
  width: 240px;
}

.platform__download-button {
  width: 100%;
  padding: 12px 0;
}

.platform__special-rpm-icon {
  position: relative;
  left: 8px;
}

.platform__special-rpm-span {
  position: relative;
  left: -8px;
}

.platform__th {
  padding: 4px 12px 4px 0;
  color: #444;
}

.platform__table-link {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 3px;
}

.platform__special-td {
  position: relative;
  top: 2px;
}

.platform__special-link {
  display: block;
  width: max-content;
  margin: auto;
  padding: 4px;
}

.platform__special-span {
  position: relative;
  top: -1px;
}

@media (min-width: 640px) {
  .platform-downloads-content {
    grid-template-columns: repeat(2, auto);
    row-gap: 32px;
  }
  .last-platform {
    grid-column: 1/3;
  }
}
@media (min-width: 940px) {
  .platform-downloads-content {
    grid-template-columns: repeat(3, auto);
  }
  .last-platform {
    grid-column: auto;
  }
}
.last-article {
  padding: 64px 32px;
  background-color: #f5f5f5;
  color: #444;
  text-align: center;
}

.last-article-content {
  display: grid;
  row-gap: 80px;
  justify-items: center;
  margin: auto;
  max-width: 1200px;
}

.last-article__header-1,
.last-article__header-2 {
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 150%;
}

.last-article__paragraph-1,
.last-article__paragraph-2 {
  font-size: 17px;
}

.last-article__part-3 {
  color: #6c6c6c;
  max-width: min(680px, 50vw);
}

.last-article__header-3 {
  text-transform: uppercase;
  font-size: 11.4px;
}

.last-article__paragraph-3 {
  font-size: 13.3px;
  line-height: 200%;
}

@media (min-width: 980px) {
  .last-article__part-1 {
    grid-column: 1;
  }
  .last-article__part-2 {
    grid-column: 2;
  }
  .last-article__part-3 {
    grid-column: 1/3;
    grid-row: 2;
  }
}
.the-footer {
  padding: 26px 16px;
  color: #fff;
  background-color: #333;
}

.the-footer-content {
  display: grid;
  row-gap: 32px;
  grid-template-areas: "part-1 part-1" "part-2 part-2" "part-3 part-3";
  max-width: 1200px;
  margin: auto;
}

.the-footer__part-1 {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 32px;
  align-items: center;
  grid-area: part-1;
  font-size: 14px;
}

.the-footer__github-buttons-container {
  display: flex;
  column-gap: 6px;
}

.the-footer__github-related-button {
  display: block;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  font-size: 12px;
}

.the-footer__github-button:hover {
  background-color: #dfdfdf;
}

.the-footer__github-icon {
  width: 12px;
}

.the-footer__github-button-span {
  position: relative;
  top: -2px;
}

.the-footer__github-amount-button {
  position: relative;
}
.the-footer__github-amount-button:hover {
  color: #0066b8;
}
.the-footer__github-amount-button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  border: 5px solid;
  border-color: transparent #eee transparent transparent;
}

.the-footer__logo {
  width: 94px;
}

.the-footer__part-2 {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 32px;
  grid-area: part-2;
  font-size: 12px;
}

.the-footer__part-3 {
  display: grid;
  row-gap: 4px;
  grid-area: part-3;
  font-size: 12px;
}

@media (min-width: 600px) {
  .the-footer-content {
    grid-template-areas: "part-1 part-1" "part-2 part-3";
  }
  .the-footer__part-3 {
    justify-content: end;
  }
}
@media (min-width: 980px) {
  .the-footer-content {
    grid-template-areas: "part-1 part-2" "part-3 part-3";
  }
  .the-footer__part-2 {
    justify-content: end;
  }
}

/*# sourceMappingURL=main.css.map */
