$blue-lighter: #0098ff; // text
$blue-light: #0066b8; // buttons
$blue-dark: #005ba4; // buttons hover

// backgrounds
$light-black: #25252b;
$lighter-black: #2c2c32;
$the-lightest-black: #333;

$dark-gray: #444; // fonts

$dark-white: #f5f5f5; // backgrounds
$darkest-white: #ccc;

$width-cap: 1200px;